<!-- <pre>{{currentLiveCovid19Data.country | json}}</pre> -->
<div class="d-flex text-center justify-content-center align-items-center m-1">

    <mat-card *ngIf="currentLiveCovid19Data?.country" class="card mat-elevation-z4">
        <mat-card-header>
            <div class="d-flex flex-row">
                <img *ngIf="country" src="{{currentLiveCovid19Data?.countryInfo?.flag}}" alt="Country flag" style="width: 50px; height: 25px;">
                <mat-card-title class="ml-3">{{currentLiveCovid19Data.country }}</mat-card-title>
            </div>
        </mat-card-header>
        <!-- <img mat-card-image *ngIf="country" src="{{currentLiveCovid19Data?.countryInfo?.flag}}" alt="Country flag"> -->
        <app-map 
            [lat]="currentLiveCovid19Data?.countryInfo?.lat"
            [long]="currentLiveCovid19Data.countryInfo?.long"
            [zoom]="4">
        </app-map>

        <mat-card-content>
            <div>
                <h6>Cases:</h6>
                <h1>{{currentLiveCovid19Data.cases}}</h1>
            </div>
            <hr>
            <div>
                <h6>Deaths:</h6>
                <h1>{{currentLiveCovid19Data.deaths}}</h1>
            </div>
            <hr>
            <div>
                <h6>Tested:</h6>
                <h1>{{currentLiveCovid19Data.tests}}</h1>
            </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

</div>

<!-- <pre>{{currentLiveCovid19Data | json}}</pre> -->
