<div class="row">
    <mat-card class="my-3 mat-elevation-z4 col-10 mx-auto">
        <p>{{uK.disclaimer}}</p>
    </mat-card>

    <mat-card class="my-3 mat-elevation-z4 col-10 mx-auto">
        <p>Total deaths in the UK - {{uK.overview.deaths?.value}}</p>
    </mat-card>

    <mat-card class="my-3 mat-elevation-z4 col-10 mx-auto">
        <ul *ngFor="let deaths of uK.countries.england?.dailyDeaths">
            <li>Date: {{deaths.date}} - Deaths: {{deaths.value}}</li>
        </ul>
    </mat-card>
</div>

