<div class="container-flex d-flex flex-column justify-content-center align-items-center m-5 text-center">
  <h1>Latest Coronavirus Stats</h1>

  <div class="mt-1 mb-2">
    <mat-form-field appearance="fill">
      <mat-label>Countries</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="onCountrySelected(selected)">
        <mat-option *ngFor="let country of countries" [value]="country.name">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <app-live-chart [country]="selected"></app-live-chart>

</div>