<div class="container-flex my-3 text-center" style="background-color: #F8F8F8;">
  <h1>Latest Coronavirus Stats</h1>

  <div class="mt-1 mb-2">
    <mat-form-field appearance="fill">
      <mat-label>Countries</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="onCountrySelected(selected)">
        <mat-option *ngFor="let country of countries" [value]="country.name">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <app-covid-19-per-country [country]="selected"></app-covid-19-per-country>

</div>